body {
    background-color: rgb(87, 84, 84);
    margin: 0 auto;
    padding: 50px;
}

.grey {
    background-color: gray;
    display: block;
    padding: 118px 112px 50px 75px;
    width: 875px;
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
}

.black {
    background-color: black;
    color: white;
    display: block;
    padding: 10px;
    width: 877px;
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    margin-top: -50px;
    margin-left: 90px;
    float: left;
}

.p_title {
    color: rgb(185, 184, 184);
}

hr {
    color: rgb(49, 48, 48);
}

.icon {
    background-color: #f8cc53;
    display: block;
    padding: 10px;
    width: 834px;
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    margin-left: 133px;
    float: left;
}

.text {
    display: block;
    padding: 10px;
    background-color: rgb(252, 250, 250);
    width: 875px;
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    border: 2px solid silver;
    box-shadow: 5px 2px 15px 5px;
    height: 400px;
}

body div .p1 {
    line-height: 38px;
    font-style: inherit;
    color: rgb(185, 184, 184);
    letter-spacing: 5px;
}

body div .h1 {
    font-family: 'Mukta', sans-serif;
    color: black;
    line-height: 1px;
}

body div .p2 {
    font-family: 'Lato', sans-serif;
    color: rgb(185, 184, 184);
}

body div .p3 {
    font-family: 'Poppins', sans-serif;
    color: black;
}