header .bar {
    display: block;
    padding: 10px;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin: 0;
}

main .main-img {
    display: block;
    width: 100px;
    padding: 20px 0px 0px 0px;
}

.colortext {
    color: blue;
}

body .footer {
    display: block;
    padding: 5px;
    background-color: rgb(35, 35, 39);
    color: white;
    text-align: center;
    font-weight: 800;
}