@media screen and (max-width:804px) {
    .section_1_pic {
        display: none;
    }
}

@media screen and (max-width:886px) {
    .decor-line {
        width: 150px;
    }
}

@media screen and (max-width:886px) {
    .icon-block {
        width: 150px;
    }
}

@media screen and (max-width:886px) {
    .icon-text {
        font-size: 15px;
    }
}

@media screen and (max-width:990px) {
    .section_3_spain_bar {
        width: 254px;
    }
}

@media screen and (max-width:727px) {
    .section_3_spain_bar {
        margin: 0;
    }
}

@media screen and (max-width:1300px) {
    .section_4_left {
        width: 10%;
    }
}

@media screen and (max-width:990px) {
    .section_4_spain_bar {
        width: 254px;
    }
}

@media screen and (max-width:1456px) {
    .footer_bar {
        width: 700%;
        margin-left: 150px;
    }
}

@media screen and (max-width:990px) {
    .footer_bar {
        width: 50%;
        margin-left: 45px;
    }
}

@media screen and (max-width:1320px) {
    .footer_pic {}
}

@media screen and (max-width:990px) {
    .footer_pic {
        display: none;
    }
}

@media screen and (max-width:990px) {
    .footer_text {
        width: 100%;
    }
}

@media screen and (max-width:671px) {
    .section_1_text {
        width: 100%;
    }
}