/* Как обычно делают адаптив
1) изначально определенные размеры/блоки итд. верстают резиновыми.
Но учитывают макет/дизайн. У дизайна есть какието стартовые размеры
ето может быть или мобильный или десктопный дизайн.
Так вот ети размеры нужны чтобы под них делать PixelPerfect.
А все что будет отличатся от стартовых размеров дизайна резиновая верстка сгладит.

2) Резиновая верстка не всемогуща. Поетому нам нужны точки в которых мы будем картденально изменять
стили, положение и размеры блоков или даже подключаемые файлы. Поетому нам на помошь приходят @media
их как правило сразу делают несколько с какимто шагом, по необходимости или по популярности размера.
 Как пример такой список :
@media screen and (max-width: 1920px)
@media screen and (max-width: 1600px)
@media screen and (max-width: 1440px)
@media screen and (max-width: 1366px)
@media screen and (max-width: 1280px)
@media screen and (max-width: 1024px)
@media screen and (max-width: 950px)
@media screen and (max-width: 640px)
@media screen and (max-width: 450px)
И уже ети размеры будут основными для редизайна.
Другие media могут создаватся но ето уже воспринимается как костыли, и неправельная верстка.

и при адаптиве на медиа запросах внутри одного размера должны вписыватся все части страници,
которым нужен адаптив. И так на каждом шагу на уменьшение размера или на увеличение.
Кпримеру один из твоих размеров (max-width:886px) - можно было обьедениеть в один
 @media screen and (max-width:886px) {
    .decor-line {
        width: 150px;
    }
    .icon-block {
        width: 150px;
    }
    .icon-text {
        font-size: 15px;
    }
 }

 и поскольку ето все в scss то можно еще делать дерево вложеностей
@media screen and (max-width:886px) {
    .decor-line {
        width: 150px;

        .icon-block {
            width: 150px;

            .icon-text {
                font-size: 15px;
            }
        }
    }
 }
*/

@media screen and (max-width:804px) {
    .section_1_pic {
        display: none;
    }
}

@media screen and (max-width:886px) {
    .decor-line {
        width: 150px;
    }
}

@media screen and (max-width:886px) {
    .icon-block {
        width: 150px;
    }
}

@media screen and (max-width:886px) {
    .icon-text {
        font-size: 15px;
    }
}

@media screen and (max-width:990px) {
    .section_3_spain_bar {
        width: 254px;
    }
}

@media screen and (max-width:727px) {
    .section_3_spain_bar {
        margin: 0;
    }
}

@media screen and (max-width:1300px) {
    .section_4_left {
        width: 10%;
    }
}

@media screen and (max-width:990px) {
    .section_4_spain_bar {
        width: 254px;
    }
}

@media screen and (max-width:1456px) {
    .footer_bar {
        width: 70%;
        margin-left: 150px;
    }
}

@media screen and (max-width:990px) {
    .footer_bar {
        width: 50%;
        margin-left: 45px;
    }
}

@media screen and (max-width:1320px) {
    .footer_pic {}
}

@media screen and (max-width:990px) {
    .footer_pic {
        display: none;
    }
}

@media screen and (max-width:990px) {
    .footer_text {
        width: 100%;
    }
}

@media screen and (max-width:671px) {
    .section_1_text {
        width: 100%;
    }
}
