body {
    background-color: #ececec;
}

.container {
    transform-style: preserve-3d;
    perspective: 2000px;
    display: flex;
    justify-content: center;
}

.card {}

.card_element {}

.card_img